
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

 .nav-links a{
   color: black;
   text-decoration: none;
   padding-left: 20px;
}

.nav-links a:hover{
  text-decoration: underline;
}

nav .active{
  color:  #d01c28;
}


.nav-button button{
  background-color:  #d01c28;
  color: white;
  border: 1px solid #d01c28;
  border-radius: 10px;
  padding: 10px 10px;
  cursor: pointer;
  outline: none;
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;  
}

/* .nav-button:hover{
  transform: scale(1.2);
} */



/* @media screen and (max-width: 800px)  {

  .nav-button button{
   
    padding: 8px 8px;
    margin-left: 10px; 
    display: flex; 
    flex-direction: column;
    margin-top: 10px;
  }
  
}

@media screen and (max-width: 600px)  {

  .nav-links a{
    padding-left: 10px;
 }

  .nav-button button{
   
    padding: 5px 5px;
    margin-left: 10px; 
    display: flex; 
    flex-direction: column;
    margin-top: 10px;
  }

  
} */